# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Visual Studio Code
.vscode/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
